@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --grayishblue: hsl(237, 18%, 59%);
  --softred: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --darkdesaturatedblue: hsl(236, 21%, 26%);
  --verydarkblue: hsl(235, 16%, 14%);
  --verydark: hsl(234, 17%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 700;
  font-family: "Red Hat Text", sans-serif;
  background: url(../images/bg-stars.svg);
  background-color: var(--verydarkblue);
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--white);
  text-align: center;
}

.container {
  max-width: 60rem;
  margin: 20rem auto;
  display: grid;
  align-items: center;
  gap: 3.2rem;
}

.counter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
}

.text {
  color: var(--white);
  text-align: center;
  font-size: 1.6rem;
}

.number {
  font-size: 6rem;
  color: var(--softred);
  text-align: center;
  background-color: var(--darkdesaturatedblue);
  border-radius: 9px;
  padding: 1.2rem;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.socials {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
  padding: 3.6rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 34em) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 35rem;
    margin: 5rem 0;
    padding-left: 2rem;
  }
  .counter {
    gap: 2rem;
  }
}
